# Compiled object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Build directories
obj/
bin/
build/
Debug/
Release/

# Editor and IDE files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Project specific files
cpp_demo
cpp_demo_debug
*.preprocessed.cpp
